[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
[submodule "public"]
	path = public
	url = git@github.com:road907/road907.github.io.git
	branch = master
